.header1 {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 1px;
    background-color: #FFFFFF;
    color: #000000;
}

span {
    color: #F62F5E ;
}

.Left
{
    margin-right: 250px ;
}

.Middle
{
    margin-left: 20px;
    margin-right: 20px;
}

.Right
{
    margin-left: 350px;
    text-align: right ;
}